<div class=" container">

   <div class="contact">
         <div class="con">
             <div class="img1">
                <img style="height: 13rem; width: 15rem;"  src="../assets/waldemar-brandt-dqhmbjutkQA-unsplash.jpg" alt="">
             </div>

             <div class="img2">
                <img style="height: 13rem; width: 15rem;"  src="../assets/martha-dominguez-de-gouveia-nMyM7fxpokE-unsplash.jpg" alt="">
             </div>
             <div class="img3">
                <img style="height: 13rem; width: 15rem;"  src="../assets/daniel-frank-wKbWAMlHgNo-unsplash.jpg" alt="">
             </div>
         </div>
         <div>




          </div>

   </div>
</div>