

.container-fluid{
    color: #435589;

}
.headp{
    font-family: 'Nunito';
font-style: normal;
font-weight: 500;
font-size: 50px;

text-align: center;
}
.container-box{
    display: flex;
    justify-content: center
}
.head{
    text-align: center
}
.head p{
    text-align: center
}
.box{
   width: 420px;
   height: 405px; 
   border: 1px solid;
   margin:1%;
   align-items: center

}
.box p{
    text-align: center
}