

.container-fluid{
    color: #435589;

}
.headp{
    font-family: 'Nunito';
font-style: normal;
font-weight: 300;
font-size: 70px;
text-align: center;
}
.head h1{
    font-family: 'Nunito';
font-style: normal;
font-weight: 500;
font-size: 64px;

}
.container-box{
    display: flex;
    justify-content: center
}
.head{
    text-align: center
}
.head p{
    text-align: center;
    font-weight: 800;
    font-size: 36px;
}
.box{
   width: 420px;
   height: 405px; 
   border: 1px solid;
   margin:1%;
   align-items: center
   
}
.box p{
    text-align: center
}