<section class="sooner">
    <article class="sooner-title">
        <h4>We Help you</h4>
        <h1>Get Well Sooner!</h1>
    </article>
    <article class="sooner-cards">
        <article class="card-box">
            <div class="card-one">
                <div class="card-one-image">
                    <img src="assets/images/medikaid_benefit_1.jpg" alt="">
                </div>
                <h1>24 Hours Service</h1>
            </div>
            <div class="card-one">
                <div class="card-one-image">
                    <img src="assets/images/medikaid_benefit_4.jpg" alt="">
                </div>
                <h1>Free Consultations</h1>
            </div>
            <div class="card-one">
                <div class="card-one-image">
                    <img src="assets/images/medikaid_benefit_2.jpg" alt="">
                </div>
                <h1>Professionals</h1>
            </div>
            <div class="card-one">
                <div class="card-one-image">
                    <img src="assets/images/medikaid_benefit_3.jpg" alt="">
                </div>
                <h1>Quality Lab Services</h1>
            </div>
        </article>
    </article>
</section>
