* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.sooner-title {
    text-align: center;
    margin-block: 2rem;
}

.sooner-title h4 {
    font-size: 1.8rem;
}

.sooner-title h1 {
    font-size: 2.3rem;
}

.sooner-cards {
    width: 95%;
    max-width: 1200px;
    margin-inline: auto;
}

.card-box {
    width: 100%;
}

.card-one {
    border: 1px solid hsla(0, 0%, 60%, 0.5);
    margin-block: 1rem;
    border-radius: .3rem;
    text-align: center;
    padding: .5rem;
    background-color: white;
    width: 290px;
    margin-inline: auto;
}

.card-one-image img {
    border-radius: .3rem;
}

.card-one h1 {
    padding: .3rem 0;
    font-weight: 700;
}

@media (min-width:600px) {
    .card-box {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
}

@media (min-width:900px) {
    .card-box {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
    }
}

@media (min-width:1200px) {
    .card-box {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
    }
}