<div class="text-center">



<div class="container-fluid">
    <div class="head">
        <h1>We help you</h1>
        <p class="headp">Get Well Sooner!</p>
    </div>
    <div class="container-box">
        <div class="box">
           <img src="/src/assets/service1.jpg" alt="">
           <p>24 Hours Service</p>
        </div>
        <div class="box">
            <img src="src/assets/service1.jpg" alt="">
            <p>Free Consultations</p>
         </div>
         <div class="box">
            <img src="src/assets/profesional.jpg" alt="">
            <p>Professionals</p>
         </div>
         <div class="box">
            <img src="src/assets/lab.jpg" alt="">
            <p>Quality Lab Service</p>
         </div>
    </div>
</div>

</div>