
    <section class="header-nav">
        <nav>
            <section class="nav">
                <img src="assets/images/z-care.png" alt="">

                <ul class="nav-menu">
                    <li><a href=""  routerLink="/home"  routerLinkActive='active'>Home</a></li>
                 
                    <li><a href=""  routerLink="/about"  routerLinkActive='active'>About</a></li>
                    <li><a href=""  routerLink="/services"  routerLinkActive='active'>Services</a></li>
                    <li><a href=""  routerLink="/appoint"  routerLinkActive='active'>Appointment</a></li>
                 
                  
                    <li><a href=""  routerLink="/login"  routerLinkActive='active'>Login</a></li>
                    <li class="signup"><a href=""  routerLink="/signup"  routerLinkActive='active'>Sign up</a></li>
                  
                </ul>
                <div class="hamburger">
                    <span class="bar"></span>
                    <span class="bar"></span>
                    <span class="bar"></span>
                </div>
            </section>
        </nav>
    </section>
  



