
ul {
  margin-left: 40%;
  display:flex;
  width: auto;
  height: 83px;
  left: 0px;
  top: 0px;
  font: size 3rem;
  
}
.container-fluid{
  margin-top: 0%;
}
ul li{
  text-transform: uppercase;
  text-decoration: none;
  list-style: none;
  
}
ul li a{
  text-decoration: none;
  color:black
}
#log{
 color:aqua;
 width: 100px;
 height: 40px;
 font: size 3rem;
}
.navbtn2{
  cursor:pointer;
  font: size 4rem;
  background-color:aqua;
  color:black;
  width: 100px;
  height: 40px;
}
ul{
justify-content:space-around;
}