<div class="login">
    <img class="logo" src="../assets/z-care.png" alt="">
   
    <form  class="form" >
     
      
        <div class="form-div" >

            <div class="inp">
               
                <input  type="text" placeholder="Enter Username" name="uname" required>
            </div>
      



           <div class="pass">
          
            <input type="password" placeholder="Enter Password" name="psw" required>
           </div>
        
      
          <button type="submit">Login</button>
       
        </div>
      
        <div class="signup" >
         <p class="signup">Don't have an account?<span><a href="#">Sign up</a></span></p>
         
        </div>
      </form>



</div>

 
