.login{
    position: absolute;
    width: 33rem;
    height: 22rem;
    left: 20rem;
     top: 6rem; 
    
    background: #ffff;
    box-shadow: 0px 0px 10px 2px rgba(0, 0, 0, 0.25);
    border-radius: 10px;

}
.logo{
    position: absolute;
width: 350px;
height: 87.94px;
left: 785px;
top: 281px;
color: #ffff;

}