.login{
    position: absolute;
    width: 30rem;
    height: 24rem;
    margin-left: 22rem;
    top: 6rem;   
    background: #ffff;
    box-shadow: 0px 0px 10px 2px rgba(0, 0, 0, 0.25);
    border-radius: 10px;

}
.logo{
    position: absolute;
    width: 8rem;
    height: 3rem;
    left: 10rem;
    top: 0.5rem;
}
.form{
    position: absolute;
    top: 6rem;
}
.input{
    background-color: #f4f4f4;
}

button{
    background-color: #60B0F4;
    position: absolute;
    width: 26.4rem;
    height: 2.5rem;
    left: 1.1rem;
    top: 10rem;
    
    background: #60B0F4;
    border-radius: 4px;
}
.signup{
    height: 2.5rem;
    top: 3rem;
    margin-left: 0.5rem;
}
.form-div{
   
    height: 15rem;
}
.pass{
    margin-top: 1rem;
}
input{
    width: 26rem;
    height: 2.5rem;
   margin-left: 1rem;
   border-radius: 5px;
   background-color: #F4F4F4;
}
/* media queries tablet */

@media screen and (max-width: 1024px){
    .container{
        width: var(--container-width-md);
       
    }
    input{
       width: 18rem;
    }
    button{
        width: 18rem;
    }
    .login{
        width: 24rem;
    }

}

/* media query for mobile phone */

@media screen and (max-width: 600px){
    .container{
        width: var(--container-width-sm);
        
    }
    .login{
        /* margin-left: 0; */
        margin: 0;
        width: 22.9rem;
    }
    input{
        width: 20rem;
    }
    button{
        width: 20rem;
    }
    .logo{
        margin-left: -3rem;
}
}