<section class="main">

     <article class="main-art">
       <h1>Satisfied <span style="font-weight: 800;">Patients</span></h1>
       <div class="main-img">
        <img src="../../assets/quote.png" alt="">
       </div>
      
        <h4>We are always accepting new <br>
        patients! We believe in providing <br>
        the best possible care to all our <br>
         existing patients and welcome new <br>
        patients to sample the service we <br>
         have to offer </h4>  

        <p style="color: black; margin-block:.7rem ;">--John Smith</p>



     </article>


</section>