@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;500;600;700;800;900&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/* body {
    font-family: 'Nunito', sans-serif;
} */

.appointment {
    margin-block: 1rem;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.appointmentt {
    box-shadow: 0 0 .2rem .2rem hsl(0, 0%, 90%);
    width: 95%;
    margin-inline: auto;
    max-width: 750px;
    display: grid;
    grid-template-rows: 300px 355px;
    border-radius: .3rem;
}

.appointment-image {
    border-top-left-radius: .3rem;
    border-top-right-radius: .3rem;
    position: relative;
    background-image: linear-gradient(hsla(208, 87%, 67%, 0.5), hsla(208, 87%, 67%, 0.5)), url(../../assets/images/martha-dominguez-de-gouveia-nMyM7fxpokE-unsplash.jpg);
    background-size: cover;
    background-position: center;
}

.appointment-title {
    position: absolute;
    bottom: 0;
    padding: .5rem;
    color: white;
}

.appointment-image h1 {
    font-family: sans-serif;
    font-size: 2rem;
    font-weight: 700;
}

.appointment-form {
    padding: 1rem .5rem;
}

.appointment-form input {
    width: 100%;
    padding: .5rem .5rem;
    margin-block: .2rem;
    border-radius: .2rem;
    border: 1px solid hsla(0, 0%, 70%, 0.5);
}

.appointment-form textarea {
    width: 100%;
    resize: vertical;
    max-height: 200px;
    padding: .3rem .3rem;
    border-radius: .2rem;
    border: 1px solid hsla(0, 0%, 70%, 0.5);
}

.appointment-form textarea:focus,
.appointment-form input:focus {
    outline: none;
}

.appointment-form-submit {
    padding: .5rem 0;
}

.appointment-form-submit input {
    background-color: #60B0F4;
    border: 1px solid #60B0F4;
    color: white;
    cursor: pointer;
    transition: 0.3s ease-in-out;
}

.appointment-form-submit input:hover {
    background-color: hsl(208, 87%, 77%);
    border: 1px solid hsl(208, 87%, 77%);
    color: white;
    transition: 0.3s ease-in-out;
}

@media (min-width:786px) {
    .appointmentt {
        grid-template-columns: 400px 350px;
        grid-template-rows: 330px;
    }
    .appointment-image {
        border-top-left-radius: .3rem;
        border-top-right-radius: 0;
        border-bottom-left-radius: .3rem;
        position: relative;
        background-image: linear-gradient(hsla(208, 87%, 67%, 0.5), hsla(208, 87%, 67%, 0.5)), url(../../assets/images/martha-dominguez-de-gouveia-nMyM7fxpokE-unsplash.jpg);
        background-size: cover;
        background-position: center;
    }
}