<section class="appointment">
    <article class="appointmentt">
        <article class="appointment-image">
            <div class="appointment-title">
                <h1>Make an appointment to take care if your health</h1>
            </div>
        </article>
        <form action="" class="appointment-form">
            <div class="appointment-form-fullname">
                <input type="text" name="" id="" placeholder="Full Name">
            </div>
            <div class="appointment-form-email">
                <input type="email" name="" id="" placeholder="example@example.com">
            </div>
            <div class="appointment-form-textarea">
                <textarea name="text" id="text" cols="30" rows="10" placeholder="Additional Details"></textarea>
            </div>
            <div class="appointment-form-submit">
                <input type="submit" value="Make Appointment">
            </div>
        </form>
    </article>
</section>
