<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="container">
        <div class="service">
            <div class="serve">
                
                <h4>
                   <span style="color: #435589;">we offer </span>
                </h4>
                <h1>Medical services</h1>

                 <p>
      
                 We specialize in a wide array of <br> medical fields and have some of <br> the best facilities
                 </p>
            </div>
            <div class="picture">
                <div class="pic-row" >
                          <div class="pic">
                          <img src="../assets/dental-floss.png" alt="">
                          <div class="text">
                            <h3>Primary Care</h3>
                            <h6>Consulting</h6>
                          </div>
                          </div>
                          <div class="pic"> 
                              <img src="../assets/stethoscope.png" alt="">
                              <div class="text">
                                <h3>Primary Care</h3>
                                <h6>Consulting</h6>
                              </div>
                          </div>
                          <div class="pic">
                              <img src="../assets/eye-care.png" alt="">
                              <div class="text">
                                <h3>Primary Care</h3>
                                <h6>Consulting</h6>
                              </div>
                          </div>
                         
               </div>
               <div class="pic-roww">
                  <div class="pic" >
                      <img  src="../assets/family.png" alt="">
                      <div class="text">
                        <h3>Primary Care</h3>
                        <h6>Consulting</h6>
                      </div>
                      </div>
                      <div class="pic">
                          <img   src="../assets/quote.png" alt="">
                          <div class="text">
                            <h3>Primary Care</h3>
                            <h6>Consulting</h6>
                          </div>
                      </div>
                      <div class="pic">
                          <img   src="../assets/wheelchair.png" alt="">
                          <div class="text">
                            <h3>Primary Care</h3>
                            <h6>Consulting</h6>
                          </div>
                      </div>
      
               </div>
      
            </div>
      
          </div>
      </div>
      
    
</body>
</html>