
    <section class="health">
        <article class="healthh">
            <article class="health-title">
                <h3>We Offer</h3>
                <h1>Medical Services</h1>
                <p>We specialize in a wide array of medical fields and have some of the best facilities.</p>
            </article>
            <article class="health-cards">
                <article class="card-box-health">
                    <div class="card-one-health">
                        <div class="card-one-health-image">
                            <img src="../../assets/images/stethoscope.png" alt="">
                        </div>
                        <h1>Primary Care</h1>
                        <p>Consulting</p>
                    </div>
                    <div class="card-one-health">
                        <div class="card-one-health-image">
                            <img src="../../assets/images/cardiogram(1).png" alt="">
                        </div>
                        <h1>General Health</h1>
                        <p>Diagnostic test</p>
                    </div>
                    <div class="card-one-health">
                        <div class="card-one-health-image">
                            <img src="../../assets/images/family.png" alt="">
                        </div>
                        <h1>Pediatrics</h1>
                        <p>Pediatric specialty care</p>
                    </div>
                    <div class="card-one-health">
                        <div class="card-one-health-image">
                            <img src="../../assets/images/wheelchair.png" alt="">
                        </div>
                        <h1>Physical Theraphy</h1>
                        <p>Rehabilitation services</p>
                    </div>
                    <div class="card-one-health">
                        <div class="card-one-health-image">
                            <img src="../../assets/images/dental-floss.png" alt="">
                        </div>
                        <h1>Dental Care</h1>
                        <p>Dentistry</p>
                    </div>
                    <div class="card-one-health">
                        <div class="card-one-health-image">
                            <img src="../../assets/images/eye-care.png" alt="">
                        </div>
                        <h1>Eye Care</h1>
                        <p>prescription services</p>
                    </div>
                </article>
            </article>
        </article>
    </section>
    