<div class="container">
  <div class="service">
      <div class=" serve">
          <h1>
             <span style="color: #435589;">we offer </span> <br> medical services
          </h1>
           <p>

           We specialize in a wide array of <br> medical fields and have some of <br> the best facilities
           </p>

      </div>
      <div class="picture">
          <div class="pic-row" >
                    <div>
                    <img src="" alt="">
                    </div>
                    <div>
                        <img src="" alt=""> 
                    </div>
                    <div>
                        <img src="" alt=""> 
                    </div>
         </div>
        
         <div class="pic-roww">


            <div>
                <img src="" alt="">
                </div>
                <div>
                    <img src="" alt=""> 
                </div>
                <div>
                    <img src="" alt=""> 
                </div>

         </div>





      </div>






    </div>
</div>
