<section class="main">
    <article class="main-title">
        <h3>We Provide</h3>
        <h1>Full <span>Medical Care</span></h1>
        <h4>Helping thousands of people to get high class medical service. Your health is your most important asset.</h4>
        <button class="appointment">Make appointment</button>
    </article>
    <article class="main-image">
        <img src="../../assets/undraw_medicine_b1ol(1).png" alt="">
    </article>
</section>
<app-about></app-about>
<app-services></app-services>
<app-appointment></app-appointment>
<app-footer></app-footer>