<app-navbar></app-navbar>
<div class="container-fluid">
    <div class="container">
       
        <h1 class="head">We Provide</h1>
        <h2>
            Full <span>Medical Care</span>
        </h2>
        <p>
            Helping thousands of people to get high-class<br>
            medical service. Your is Your most <br>important asset.
        </p>
    </div>
    <div class="container" id="image">
        
        <!-- <img src="../assets/undraw_medicine_b1ol(1).png" alt=""> -->
    </div>
</div>
<div class="btn">
    <button>Make Appointment</button>
</div>

