
<div class="container-fluid">
    <div class="container">
       
        <h1 class="head">We Provide</h1>
        <h2>
            Full <span>Medical Care</span>
        </h2>
        <p>
            Helping thousands of people to get high-class<br>
            medical service. Your is Your most <br>important asset.
        </p>
    </div>
    <div class="container" id="container">
        <h1>Medical</h1>
        <img src="" alt="">
    </div>
</div>
<div class="btn">
    <button>Make Appointment</button>
</div>

